demo.txt
Cp/Steps_-.docx
Cp/a.out
Linked-List/a.out
Linked-list/a.exe
shorting/a.out
strings/a.out
strings/String_Basic.pdf
strings/String Basic.pdf
Sorting/a.out
Queue/a.out
bit-minuplation/a.out
.vscode
